@{
    ViewData["Title"] = "Home Page";
}

<div class="home-top">
   <div>
        <p class="home-title"><span>Enjoy</span> Your Weekend<br />Planning <span>Here!</span></p>
        <p class="home-head">Connect with the world in a fun way!</p>
        <p class="home-para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada, metus vitae ullamcorper
            accumsan, magna risus gravida magna, vel porta libero neque nec sapien. Fusce at nulla non lectus
            mattis dignissim. Cras vel arcu sed justo consequat fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer malesuada, metus vitae ullamcorper 
        </p>
        <button class="login-btn">Login Here</button>
   </div>
	<div class="home-img"><img src="~/image/homeimage.png" /></div>
</div>
